$drag-handle-width: 9px !default;
$drag-handle-height: 9px !default;
$drag-bar-size: 6px !default;
@import "~react-image-crop/lib/ReactCrop.scss";

.sfs-sidebar {
    width: 395px;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 100px);
    &__container {
        padding: 0 20px;
    }
    &__title {
        font-family: "Open Sans", sans-serif;
        font-size: 32px;
        font-weight: 300;
        line-height: 1;
        color: #111123;
    }
    .sfs-label {
        display: block;
        width: 100%;
        margin: 35px 0 15px 1px;
        cursor: pointer;
        transition: color .3s ease-in;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        color: #111123;
    }
    .sfs-label__add {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
    }
    .sfs-input {
        display: block;
        width:100%;
        padding: 10px 0;
        transition: border .195s ease-in;
        text-overflow: clip;
        border: 0 none;
        border-bottom: 1px solid #111123;
        border-radius: 0;
        background: #fefefe;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: #111123;
        outline: none;
    }
    &__subtitle {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        color: #111123;
        font-weight: normal;
    }
    .sfs-checkbox-label {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #111123;
        .sfs-checkbox-label__input {
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: middle;
            border: solid 1px #111023;
            cursor: pointer;
        }
    }
    .sfs-button__add {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0;
        bottom: -13px;
        outline: none;
        cursor: pointer;
    }
    .sfs-button__remove {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        right: 15px;
    }
}