.sfs-header {
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #111023;
    padding: 15px;
    .sfs-header__img {
        height: 40px;
    }
    .sfs-header__capture {
        border-left: 1px solid white;
        padding: 0 0 0 10px;
        font-size: 32px;
        font-weight: 300;
        color: white;
        vertical-align: bottom;
        margin: 0 0 0 15px;
    }
}