.Cnt\(\) {
    content: '';
    &-b {
        &::before {
            content: '';
        }
    }
}
.D\(b\) {
    display: block;
}
.D\(ib\) {
    display: inline-block;
}
.D\(n\) {
    display: none;
}
.D\(f\) {
    display: flex;
}
.Ai\(c\) {
    align-items: center;
}
.Fxs\(0\) {
    flex-shrink: 0;
}
.Pos\(r\) {
    position: relative;
}
.Pos\(a\) {
    position: absolute;
    &-b {
        &::before {
            position: absolute;
        }
    }
}
.P\(0\) {
    padding: 0;
}
.P\(10\) {
    padding: 10px;
}
.P\(20\) {
    padding: 20px;
}
.Py\(10\) {
    padding-top: 10px;
    padding-bottom: 10px;
}
.Pstart\(10\) {
    padding-left: 10px;
}
.Pt\(0\) {
    padding-top: 0;
}
.M\(0\) {
    margin: 0;
}
.M\(5\) {
    margin: 5px;
}
.M\(20\) {
    margin: 20px;
}
.Mt\(20\) {
    margin-top: 20px;
}
.Mt\(35\) {
    margin-top: 35px;
}
.Mb\(15\) {
    margin-bottom: 15px;
}
.Mx\(a\) {
    margin-left: auto;
    margin-right: auto;
}
.My\(20\) {
    margin-top: 20px;
    margin-bottom: 20px;
}
.Mstart\(15\) {
    margin-left: 15px;
}
.Mend\(10\) {
    margin-right: 10px;
}
.W\(100p\) {
    width: 100%;
}
.W\(0\) {
    width: 0;
}
.W\(15\) {
    width: 15px;
}
.W\(18\) {
    width: 18px;
    &-b {
        &::before {
            width: 18px;
        }
    }
}
.W\(50\) {
    width: 50px;
}
.W\(100\) {
    width: 100px;
}
.W\(200\) {
    width: 200px;
}
.W\(395\) {
    width: 395px;
}
.W\(100p\/3\) {
    width: calc(100% / 3);
}
.H\(0\) {
    height: 0;
}
.H\(10\) {
    height: 10px;
}
.H\(15\) {
    height: 15px;
}
.H\(18\) {
    height: 18px;
    &-b {
        &::before {
            height: 18px;
        }
    }
}
.H\(20\) {
    height: 20px;
}
.H\(40\) {
    height: 40px;
}
.H\(100\) {
    height: 100px;
}
.H\(100vh\-55\) {
    height: calc(100vh - 55px);
}
.T\(0\) {
    top: 0;
}
.T\(10\) {
    top: 10px;
}
.B\(-15\) {
    bottom: -15px;
}
.B\(0\) {
    bottom: 0;
}
.B\(1\) {
    bottom: 1px;
    &-b {
        &::before {
            bottom: 1px;
        }
    }
}
.Start\(0\) {
    left: 0;
}
.Start\(1\) {
    left: 1px;
    &-b {
        &::before {
            left: 1px;
        }
    }
}
.Start\(10\) {
    left: 10px;
}
.End\(0\) {
    right: 0;
}
.End\(15\) {
    right: 15px;
}
.Bgc\(t\) {
    background-color: transparent;
}
.Bgc\(white\) {
    background-color: white;
    &-b {
        &::before {
            background-color: white;
        }
    }
}
.Bgc\(\#cccccc\) {
    background-color: #cccccc;
    &-h {
        &:hover {
            background-color: #cccccc;
        }
    }
    &_active {
        &.active {
            background-color: #cccccc;
        }
    }
}
.Bd\(n\) {
    border: none;
}
.Bds\(s\) {
    border-style: solid;
}
.Bdw\(1\) {
    border-width: 1px;
}
.Bdc\(black\) {
    border-color: black;
}
.Bdrs\(0\) {
    border-radius: 0;
}
.Bdrs\(34\) {
    border-radius: 34px;
}
.Bdrs\(50p\) {
    border-radius: 50%;
    &-b {
        &::before {
            border-radius: 50%;
        }
    }
}
.Bdstartw\(1\) {
    border-left-width: 1px;
}
.Bdstarts\(s\) {
    border-left-style: solid;
}
.Bdstartc\(white\) {
    border-left-color: white;
}
.Bdbw\(1\) {
    border-bottom-width: 1px;
}
.Bdbs\(s\) {
    border-bottom-style: solid;
}
.Bdbc\(\#dddddd\) {
    border-bottom-color: #dddddd;
}
.Bdbc\(\#111123\) {
    border-bottom-color: #111123;
}
.Bxsh\(n\) {
    box-shadow: none;
}
.O\(n\) {
    outline: none;
}
.Cur\(t\) {
    cursor: text;
}
.Cur\(p\) {
    cursor: pointer;
}
.Td\(n\) {
    text-decoration: none;
}
.Op\(0\) {
    opacity: 0;
}
.Ov\(h\) {
    overflow: visible;
}
.Ovy\(a\) {
    overflow-y: auto;
}
.Bxz\(bb\) {
    box-sizing: border-box;
}
.Trfo\(0\,-150p\) {
    transform-origin: 0 -150%;
}
.Trfo\(bottom\) {
    transform-origin: bottom;
}
.Rotate\(45deg\) {
    transform: rotate(45deg);
}
.Trs\(300ms\) {
    transition: 300ms;
    &-b {
        &::before {
            transition: 300ms;
        }
    }
    &-ph {
        &::-webkit-input-placeholder {
            transition: 300ms;
        }
    }
}
.Pe\(n\) {
    pointer-events: none;
}
.C\(t\)-ph {
    &::-webkit-input-placeholder {
        color: transparent;
    }
}
.C\(\#a9a9a9\)-f-ph {
    &:focus {
        &::-webkit-input-placeholder {
            color: #a9a9a9;
        }
    }
}
.Scale\(0\.6\)\~label-f {
    &:focus {
        & ~ label {
            transform: scale(0.6);
        }
    }
}
.Scale\(0\.6\)\~label-v {
    &:valid {
        & ~ label {
            transform: scale(0.6);
        }
    }
}
.C\(white\) {
    color: white;
}
.C\(\#607d8b\) {
    color: #607d8b;
}
.C\(\#111123\) {
    color: #111123;
}
.Fz\(14\) {
    font-size: 14px;
}
.Fz\(20\) {
    font-size: 20px;
}
.Fz\(32\) {
    font-size: 32px;
}
.Fz\(40\) {
    font-size: 40px;
}
.Fw\(300\) {
    font-weight: 300;
}
.Fw\(400\) {
    font-weight: 400;
}
.Fw\(700\) {
    font-weight: 700;
}
.Lh\(1\) {
    line-height: 1;
}